#background-div {
    width: 700px;
    height: 550px;
    background-image: url("../../../assets/tribble-bg-no-avatar.png");
    position: relative;
}

#theimage {
    position: absolute;
}

.hidden {
    display: none;
}

div {
    position: absolute;
}