img {
    display: inline-block;
    width: 20vw;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px;
}

img {
    padding: 15px 25px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: steelblue;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
  }
  
  img:hover {background-color: darkgrey}
  
  .false:active {
    background-color: red;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }

  .true:active {
    background-color:green;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }









.hidden {
    display: none;
    border: 5px solid purple;
}

#image-field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    grid-row-gap: 2vh;
}

#batleth {
    grid-column: 3;
    grid-row: 3;
}

