img {
    display: inline-block;
    width: 20vw;
    border: 1px solid black;
    border-radius: 50px;
    margin: 10px;
}

.hidden {
    display: none;
    border: 5px solid purple;
}

#image-field {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 25% 25% 25% 25%;
    grid-column-gap: 10px;
    grid-row-gap: 2vh;
}

#batleth {
    grid-column: 3;
    grid-row: 3;
}

