#tribbles {
    display: none;
}

img {
    display: block;
}
.map-div {
    position: relative;
    width: 900px;
    height: 580px;
    /* border: 1px solid yellow; */
    background-color: #484a47;
    padding-left: 30px;
}

#star-map-image {
    position: absolute;
    bottom: 0;
}

#user-status {
    border: 1px solid red;
    width: 200px;
    height: 550px;
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: center;
    font-size: 24px;
}

.dash-div {
    width: 900px;
    font-size: 0;
    padding-left: 30px;
    background-color: #484a47;
}

.dash {
    display: inline-block;
    font-size: 0;
}